.navbar-brand img {
    width: 100%;
    height: 5.5rem;
  }
  .navbar-brand{
    border: 1px solid #a494ac;
    border-radius: 4px;
    padding: 5px;
    width: 150px;
    text-align:center;
  }
  .navbar{
      background-color: #5c4b67!important;
      font-family : Arial;  
  }
  .navbar-nav li{
    padding-right: .7rem;
  }
 
  .navbar-dark .navbar-nav .nav-link{
    color : whitesmoke;
    padding-top: .8rem;
  }
  .title{
      color:#ffffff;
      font-weight: bold;
      letter-spacing: 5px;
      font-size: 25px;
      font-family: monospace,Century Gothic,Monaco,Geneva,Arial;
      float: left;
      padding-left: 0;
      text-shadow: .1rem .1rem .8rem #a494ac;
  }
  body{
    overflow-x: hidden;
    color: #a494ac;
    background-color: #5c4b67;
    text-align: center;
  }
  .navbar-dark .navbar-nav .nav-link.active,
  .navbar-dark .navbar-nav .nav-link:hover{
    color : #a494ac;
  }
  .home-inner{
    background-image: url(back.png);
    filter: blur(4.5px);
  }
  .caption{
    width:70%;
    max-width:100%;
    position:absolute;
    top:50%;
    left: 15%;
    z-index: 1;
    color: white;
    box-shadow:  #a494ac ;
    text-align: center;
    border: 1.5px solid  #5c4b67;
    padding:15px;
    background-color:#5c4b67 ;
    border-radius: 12px;

  }
  .caption h1{
    font-size : 3.8rem;
    text-shadow: .1rem .1rem .8rem #a494ac;
    padding-bottom: 1rem;
  }
  .caption h3{
    font-size : 2rem;
    text-shadow: .1rem .1rem .5rem #a494ac;
    padding-bottom: 1.6rem;
  }
  .btn-lg{
    border-width: medium;
    border-radius: 12px;
    padding : .6rem 1.3rem;
    font-size: 1.1rem;
    color:#5c4b67;
    background-color:#a494ac;
  }
  .btn-lg:hover{
    color:#ffffff;
  }
  
  .foot {
    color:#ffffff;
  }
  .foot a{
    color:white;
  }
.caption input{
   border-width: medium;
  border-radius: 12px;
  padding : .9rem 1.3rem;
  font-size: 1.1rem;
  color:white;
  background-color:#a494ac;
}
input[type=file]::-webkit-file-upload-button{
    background-color:white;
    border-radius: 12px;
    color:#5c4b67;
}
input[type=file]::file-selector-button {
    background-color:#5c4b67;
    color:white;
}